
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
        </div>
    </div>
</div>
<h2>Thanh toán thành công</h2>
<p><a href="@Url.Action("Index","Home")">Tiếp tục mua hàng</a></p>

